:root{
  --secondary-color:#363636;
  --primary-color:black;
  --accent-color:#FF0048;
  --text:white;
  --logo:visible;
};
*{
  color:red;
}
.App {
  background-color: var(--primary-color);
}
.section{
  padding: 20px;
}
.d-flex{
  display: flex;
}
.d-flex > div{
  flex:1;
  white-space: nowrap;
  margin: 0 auto;
  text-align: center;
}
*[background~=second]{
  background: var(--secondary-color);
}
.navbar {
  padding: 10px;
  min-height: auto;
  min-width: auto;
  max-height: auto;
  display: flex;
  overflow: visible;
  justify-content: center;
  margin:15px;
}
.navbar a ,.navbar span{
  transition: 0.2s;
  color: var(--text);
  margin:7px;
  padding: 5px 10px;
  text-decoration: none;
  background: transparent;
  border-radius: 4px;
  line-height: 50px;
  font-size: 15px;
  white-space: pre-wrap;
  left: 0;
}
.navbar a:hover{
  transition: 0.2s;
  color:gray;
}
.navbar > .exclude{
  color: gray;
  font-size: 17px;
}
.header * {
  max-width: 100px;
  max-height: 50px;
  display: inline-block;
  white-space: pre-wrap;
}
.content{
  padding: 20px;
}

.docs{
  display: flex;
}
.docs .sidebar{
  position: relative;
  overflow: auto;
  min-width:23%;
  max-width:23%;
}
.docs .sidebar > ul {
  margin: 0;
  padding: 0;
  overflow: auto;
}
.docs .sidebar > ul *{
  display: block;
  padding: 0;
  color: var(--text);
  text-decoration: none;
  padding: 3px;
  margin:3px;
}
.docs .sidebar > ul *:hover{
  color:gray;
}
.docs .markown-container{
  min-width: 70%;
  max-width: auto;
  white-space: pre-wrap;
  overflow: auto;
}
.markdown * {
  white-space: pre-wrap;
}
.markown-container  *{
  white-space: pre-wrap;
}
.button{
  transition: 0.1s;
  padding: 13px 17px;
  border: 0;
  background: var(--primary-color);
  color: var(--text);
  border-radius: 4px;
  margin:8px;
  text-decoration: none;
  line-height: 14px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 14px;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
}
.button:hover{
  transition: 0.1s;
  box-shadow: 0px 3px 5px rgba(0,0,0,0.3);
  cursor: pointer;
}
.important{
  background: #006DFC;
  color: var(--text);
}
.title{
  font-size: 60px;
  color: var(--text);
  margin: 5px 5px;
  margin-top:20px;
  font-weight: bold;
  width: auto;
}
.graviton{
  height:60px;
}
.text{
  line-height: 30px;
  margin: 10px;
}
.text2{
  line-height: 30px;
  margin: 10px;
  margin-bottom: 20px;
}
.center{
  position: absolute;
  min-width: 100%;
  min-height: auto;
  height: 80%;
  text-align: center;
  transform: translateX(-50%);
  left: 50%;
  justify-content: center;
  vertical-align: middle;
}
.center > div{
  position: absolute;
  top:45%;
  transform: translate(-50%,-60%);
  left: 50%;
}
.vertical{
  width: 250px;
  margin: 0 auto;

}

.vertical * {
  display: block;
  position: relative;
  margin-bottom:5px;
  width: auto;
  overflow: auto;
  white-space: pre-wrap;
  margin-left: auto;
  margin-right: 5px;
}

.logo{
  width:var(--logo); 
  height:38px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  margin: 20px;
}

.flex {
  display: flex;
}
.flex > div{
  flex: 1;
}

.link{
  color:var(--text);
  cursor: pointer;
}
.link:hover{
  color:darkgray;
}

html,body,head,#root,.App{
  height: auto;
  margin: 0;
  padding: 0;
}

@media only screen and (max-device-width : 640px) {
  #logo{
    visibility: hidden;
    width: 0;
  }
  .navbar {
    justify-content: flex-start;
    overflow: auto;
  }
  .navbar a ,.navbar span{
    white-space: nowrap;
  }
}

@media only screen and (max-device-width: 768px) {
  #logo{
    visibility: hidden;
    width: 0;
  }
  .navbar {
    justify-content: flex-start;
    overflow: auto;
  }
  .navbar a ,.navbar span{
    white-space: nowrap;
  }
}
