@font-face {
    font-family: _main_font;
    src: url(./Inter-Regular.woff2);
}
body {
  margin: 0;
  font-family: _main_font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
*{
	outline: 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  color:var(--text);
}

