@font-face {
  font-family: Inter;
  src: url('/inter.otf')
}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

body * {
	font-family: 'Inter', sans-serif;
}
body {
	margin: 0;
	padding: 0;
}

html {
	margin: 0;
	padding: 0;
}
h1, h2, {
	font-weight: normal;
	color: rgb(30,30,30);
}

h3 {
	font-size: 17px;
	font-weight: bold;
}

.markdown-container {
	max-width: 100%;
	* {
		line-height: 30px;
	}
	li {
		line-height: 25px;
	}
	h3 {
		color: rgb(40, 40, 40);
	}
	h2 {
		padding-bottom: 15px;
		margin-top: 20px;
		margin-bottom: 15px;
		font-weight: 600;
	}
	code {
		border-radius: 5px;
		padding: 1px 6px;
		font-family: 'Roboto Mono', monospace;
		background: #eee;
		color: gray;
		font-family: Inter;
	}
	pre code {
		border-radius: 8px;
		padding: 13px;
		font-family: 'Roboto Mono', monospace;
		background: rgb(244, 251, 244);
		font-size: 14px;
		* {
			font-family: inherit;
			font-size: inherit;
		}
	}
	table {
		& th, & td {
			padding:  3px;
		}
	}
	.type{
		display: inline-block;
		padding: 6px;
		background: rgb(244,251, 244);
		color: rgb(35,35,35);
		font-size: 12px;
		margin: 5px;
		font-weight: 600;
	}
	blockquote {
		background: rgb(244, 251, 244);
		border-radius: 8px;
		margin: 0;
		padding: 15px;
		border-left: 3px solid rgb(255, 0, 72);
		border-top-left-radius:0px;
		border-bottom-left-radius: 0px;
		& > *{
			margin: 0;
			
		}
	}
}
